<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import calcomponent from "./components/calcomponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionalsandLoops from "./components/ConditionalsandLoops.vue";
import FromBindings from "./components/FromBindings.vue";
import SimpleComponents from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponents />
    <br />
    <FromBindings />
    <br />
    <br />
    <ConditionalsandLoops />
    <br />

    <AttributeBindings />
    <HandingUserInput />
    <calcomponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
